<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="comments content">
            <h2>Comments</h2>
            // Add content here
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>